body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    margin-top: 60px;
}

.container img {
    height: 50px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.slots {
    text-align: left;
}

.slot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.time-slot {
    background: #e3e3e3;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.time-slot:hover {
    background: #ddd;
}

.selected {
    background: #007bff;
    color: white;
}

#submit-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#submit-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}